<?xml version="1.0"?>
<robot name="almu_rover" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find maly_woz_description)/urdf/leg.urdf.xacro" />
  <xacro:include filename="$(find maly_woz_description)/urdf/materials.urdf.xacro" />
  <xacro:include filename="$(find maly_woz_description)/urdf/inertia.urdf.xacro" />

  <link name="base_link" />

  <link name="body">
    <visual>
      <geometry>
        <box size="1.2 1.0 0.3"/>
      </geometry>
      <material name="blue" />
    </visual>
    <collision>
      <geometry>
        <box size="1.2 1.0 0.3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="body_joint" type="fixed">
    <parent link="base_link"/>
    <child link="body"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>

  <xacro:leg suffix="front_left" parent="body" front="1" left="1"
             x_offset="0.5" y_offset="0.5" z_offset="0.0" />

  <xacro:leg suffix="front_right" parent="body" front="1" left="-1"
             x_offset="0.5" y_offset="-0.5" z_offset="0.0" />

  <xacro:leg suffix="rear_left" parent="body" front="-1" left="1"
             x_offset="-0.5" y_offset="0.5" z_offset="0.0" />

  <xacro:leg suffix="rear_right" parent="body" front="-1" left="-1"
             x_offset="-0.5" y_offset="-0.5" z_offset="0.0" />

  <!-- TODO extract camera to macro -->
  <link name="camera_front">
    <inertial>
      <mass value="0.3"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <xacro:solid_cuboid_inertia m="0.1" w="0.1" d="0.1" h="0.1" />
    </inertial>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="black" />
    </visual>
  </link>

  <gazebo reference="camera_front">
    <sensor name="camera_front" type="camera">
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>320</width>
          <height>240</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>camera_front/image_raw</topic>
    </sensor>
  </gazebo>

  <joint name="camera_front_joint" type="fixed">
    <parent link="body"/>
    <child link="camera_front"/>
    <origin xyz="0.5 0 0.3" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
  </joint>

  <gazebo>
    <plugin
      filename="ignition-gazebo-diff-drive-system"
      name="ignition::gazebo::systems::DiffDrive">
      <left_joint>wheel_front_left_joint</left_joint>
      <left_joint>wheel_rear_left_joint</left_joint>
      <right_joint>wheel_front_right_joint</right_joint>
      <right_joint>wheel_rear_right_joint</right_joint>
      <wheel_separation>${1.0 + 2 * 0.05 + 0.05}</wheel_separation>
      <wheel_radius>0.1</wheel_radius>
      <odom_publish_frequency>30</odom_publish_frequency>
      <max_linear_acceleration>5</max_linear_acceleration>
      <min_linear_acceleration>-5</min_linear_acceleration>
      <max_angular_acceleration>5</max_angular_acceleration>
      <min_angular_acceleration>-5</min_angular_acceleration>
      <max_linear_velocity>2.0</max_linear_velocity>
      <min_linear_velocity>-2.0</min_linear_velocity>
      <max_angular_velocity>2</max_angular_velocity>
      <min_angular_velocity>-2</min_angular_velocity>
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
    </plugin>

    <plugin
      filename="ignition-gazebo-joint-state-publisher-system"
      name="ignition::gazebo::systems::JointStatePublisher">
    </plugin>
  </gazebo>
</robot>
